body {
    font-family: 'Century Gothic', futura, 'URW Gothic L', Verdana, sans-serif;
}

textarea {
    font-family: 'Century Gothic', futura, 'URW Gothic L', Verdana, sans-serif;
}

footer {
    position: fixed;
    bottom: 5px;
}

#comments_notif {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: palegoldenrod;
    padding: .75em;
    opacity: 0.75;
}
