{% extends "layout.html" %}
{% block title %}Voir un appart{% endblock %}
{% block content %}
    <h1>{{ appart.titre }}</h1>
    {{ appart.description|safe }}
    {% for photo in appart.photos %}
        <img src="http://localhost:5001/photos/{{ photo.file }}"/>
    {% endfor %}
    <br/>
    <a href="http://www.leboncoin.fr/locations/{{ appart.id }}.htm"><img
            src="{{ url_for("static", filename="images/leboncoin.png") }}"/></a>
    <br/>
    <hr/>
    {% for comment in appart.comments %}
        <p><em>{{ comment.user.username }}</em> le {{ comment.date }}</p>
        <blockquote>{{ comment.content }}</blockquote>
    {% endfor %}
    <form action="{{ url_for("comments_add") }}" method="post">
        {{ form.hidden_tag() }}
        <p>
            Type your comment:<br>
            {{ form.content(maxlength=5000, rows=10, cols=100) }}<br>
        </p>

        <p><input type="submit" value="Submit"></p>
    </form>
{% endblock %}
