{% extends "layout.html" %}
{% block title %}Tous les apparts{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}"
          xmlns="http://www.w3.org/1999/html">

    <script type="text/javascript" src="{{ url_for("static", filename="js/jquery.dataTables.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/jquery.dataTables.plugins.js") }}"></script>

    <script type="text/javascript">
        var API_SOURCE = "{{ url_for("api_apparts") }}";
        var datatable;

        var tableUrlGen = function () {
            return API_SOURCE + "?only_news=" + $("#only_news")[0].checked +
                    "&only_likes=" + $("#only_likes")[0].checked +
                    "&only_sent_emails=" + $("#only_sent_emails")[0].checked
        };

        $(document).ready(function () {
            datatable = $('#tblApparts').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "sPaginationType": "full_numbers",
                "bjQueryUI": true,
                "sAjaxSource": tableUrlGen(),
                "aaSorting": [
                    [8, 'desc']
                ],
                "sDom": 'ipfrtpl',
                "bStateSave": true
            });

            $("#only_news").change(function () {
                datatable.fnReloadAjax(tableUrlGen());
            });
            $("#only_likes").change(function () {
                datatable.fnReloadAjax(tableUrlGen());
            });
            $("#only_sent_emails").change(function () {
                datatable.fnReloadAjax(tableUrlGen());
            });
        });
    </script>
{% endblock %}
{% block content %}
    <p>
        <label for="only_news">Ne voir que les nouveautés</label><input type="checkbox" id="only_news"/>
        <br/>
        <label for="only_likes">Ne voir que les coups de coeur</label><input type="checkbox" id="only_likes"/>
        <br/>
        <label for="only_sent_emails">E-mails envoyés</label><input type="checkbox" id="only_sent_emails"/>
    </p>
    <table id="tblApparts">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Photo</th>
            <th>Loyer</th>
            <th>Ville</th>
            <th>CP</th>
            <th>Pièces</th>
            <th>Meublé</th>
            <th>Surface</th>
            <th>Date</th>
            <th>Source</th>
        </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
        </tbody>
    </table>

{% endblock %}
