{% extends "layout.html" %}
{% block title %}Voir un appart{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for("static", filename="js/jquery.raty.js") }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.score').raty({
                path:"/static/images/",
                score:function () {
                    return $(this).attr('data-rating');
                },
                click:function (score, evt) {
                    if ($(this).attr("data-editable") == "true") {
                        $.post("/api/rate/" +{{ appart.id }}, {"note":score});
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1>{{ appart.titre }}</h1>
    {{ appart.description|safe }}
    {% for photo in appart.photos %}
        <img src="http://localhost:5001/photos/{{ photo.file }}"/>
    {% endfor %}
    <br/>
    <a href="http://www.leboncoin.fr/locations/{{ appart.id }}.htm"><img
            src="{{ url_for("static", filename="images/leboncoin.png") }}"/></a>
    <br/>
    <hr/>
    <table>
        {% for view in appart.views %}
            {% if view.user == g.user %}
                <tr>
                    <td style="text-align:right">J'ai noté :</td>
                    <td><span class="score" data-editable="true" data-rating="{{ view.note }}"></span></td>
                </tr>

            {% elif view.note > 0 %}
                <tr>
                    <td style="text-align:right"><em>{{ view.user.username }}</em> a noté :</td>
                    <td><span class="score" data-rating="{{ view.note }}"></span></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <br/>
    <hr/>
    {% for comment in appart.comments %}
        <p><em>{{ comment.user.username }}</em> le {{ comment.date }}</p>
        <blockquote>{{ comment.content }}</blockquote>
    {% endfor %}
    <form action="{{ url_for("comments_add") }}" method="post">
        {{ form.hidden_tag() }}
        <p>
            Type your comment:<br>
            {{ form.content(maxlength=5000, rows=10, cols=100) }}<br>
        </p>

        <p><input type="submit" value="Submit"></p>
    </form>
{% endblock %}
