<!doctype html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src="{{ url_for("static", filename="js/jquery.js") }}"></script>
        <title>{% block title %}{% endblock %} - LebonSite</title>
    {% endblock %}
</head>
<body>
{% if g.user is defined and g.user.is_authenticated() %}
    <div id="menu">Hello {{ g.user.username }} <a href="{{ url_for("logout") }}">[logout]</a> | <a
            href="{{ url_for("apparts") }}">Voir les appart</a> | <a
            href="{{ url_for("notifications") }}">Notifications</a>| <a
            href="{{ url_for("comments") }}">Tous les commentaires</a></div>
{% endif %}
<div id="content">{% block content %}{% endblock %}</div>

</body>
