{% extends "layout.html" %}
{% block title %}Notifications{% endblock %}


{% block content %}
    <h1>Nouveaux commentaires</h1>

    {% for comment in comments %}
        <div style="clear:both; border-bottom: 2px dotted;">
            <div style="float:left; margin-right: 2em;">
                <p>
                    <em>{{ comment.user.username }}</em>
                    <br/>
                    {{ comment.date }}
                </p>
            </div>
            {% if comment.appartement.photos %}
                <div style="float:left;">
                    <a href="{{ url_for("appart", appart_id=comment.appartement.id)+"#commentForm" }}">
                        <img src="{{ config.BASE_PHOTOS_URL }}/{{ comment.appartement.photos[0].file }}"
                             style="width: 10em; margin-right: 2em;">
                    </a>
                </div>
            {% endif %}
            <div style="float:left">
                <p>
                    <a href="{{ url_for("appart", appart_id=comment.appartement.id)+"#commentForm" }}"> {{ comment.appartement.titre }}</a>
                    <br/>
                    {{ comment.content }}
                </p>
            </div>
        </div>

    {% endfor %}
{% endblock %}
